# File mẫu: Tạo file .env và điền thông tin máy bạn
DB_SERVER=Tên_Server_Của_Bạn
DB_NAME=QUANLYCUAHANG
DB_USER=sa
DB_PASSWORD=Mật_Khẩu_Của_Bạn
DB_DRIVER={ODBC Driver 18 for SQL Server} (Thay_Đổi_Tùy_Theo_Phiên_Bản_Driver_Bạn_Sử_Dụng)