USE [master]
GO


/****** Object:  Database [QUANLYCUAHANG]    Script Date: 03-Mar-26 22:25:55 ******/
CREATE DATABASE [QUANLYCUAHANG]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUANLYCUAHANG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUANLYCUAHANG]
GO
/****** Object:  Table [dbo].[ACCOUNTS]    Script Date: 03-Mar-26 22:25:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNTS](
	[ACCOUNT_ID] [varchar](10) NOT NULL,
	[USERNAME] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](100) NOT NULL,
	[ROLE] [nvarchar](20) NOT NULL,
	[ACCOUNT_STATUS] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ACCOUNT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIES]    Script Date: 03-Mar-26 22:25:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIES](
	[CATEGORY_ID] [varchar](10) NOT NULL,
	[CATEGORY_NAME] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[CATEGORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMERS]    Script Date: 03-Mar-26 22:25:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMERS](
	[CUSTOMER_ID] [varchar](10) NOT NULL,
	[CUSTOMER_NAME] [nvarchar](50) NOT NULL,
	[CUSTOMER_GENDER] [nvarchar](10) NULL,
	[CUSTOMER_PHONE] [varchar](15) NOT NULL,
	[CUSTOMER_EMAIL] [varchar](100) NOT NULL,
	[ACCOUNT_ID] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CUSTOMER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVOICES]    Script Date: 03-Mar-26 22:25:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVOICES](
	[INVOICE_ID] [varchar](10) NOT NULL,
	[PAYMENT_STATUS] [varchar](50) NOT NULL,
	[PAYMENT_TIME] [date] NULL,
	[ORDER_ID] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[INVOICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDERDETAILS]    Script Date: 03-Mar-26 22:25:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERDETAILS](
	[ORDER_ID] [varchar](10) NOT NULL,
	[PRODUCT_ID] [varchar](10) NOT NULL,
	[ORDER_QUANTITY] [int] NOT NULL,
 CONSTRAINT [pk_ORDER_ID_PRODUCT_ID] PRIMARY KEY CLUSTERED 
(
	[ORDER_ID] ASC,
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDERS]    Script Date: 03-Mar-26 22:25:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERS](
	[ORDER_ID] [varchar](10) NOT NULL,
	[CUSTOMER_ID] [varchar](10) NOT NULL,
	[ORDER_DATE] [date] NOT NULL,
	[ORDER_STATUS] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ORDER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTS]    Script Date: 03-Mar-26 22:25:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTS](
	[PRODUCT_ID] [varchar](10) NOT NULL,
	[PRODUCT_NAME] [nvarchar](50) NOT NULL,
	[UNIT_PRICE] [decimal](18, 2) NOT NULL,
	[STOCK_QUANTITY] [int] NOT NULL,
	[PRODUCT_STATUS] [nvarchar](50) NOT NULL,
	[LAST_IMPORT_DATE] [date] NULL,
	[CATEGORY_ID] [varchar](10) NOT NULL,
	[SUPPLIER_ID] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUPPLIERS]    Script Date: 03-Mar-26 22:25:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUPPLIERS](
	[SUPPLIER_ID] [varchar](10) NOT NULL,
	[SUPPLIER_NAME] [nvarchar](50) NOT NULL,
	[SUPPLIER_PHONE] [varchar](15) NOT NULL,
	[SUPPLIER_ADDRESS] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SUPPLIER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ACCOUNTS] ([ACCOUNT_ID], [USERNAME], [PASSWORD], [ROLE], [ACCOUNT_STATUS]) VALUES (N'ACC01', N'admin_doan', N'p@ss123', N'Admin', N'Active')
INSERT [dbo].[ACCOUNTS] ([ACCOUNT_ID], [USERNAME], [PASSWORD], [ROLE], [ACCOUNT_STATUS]) VALUES (N'ACC02', N'khach_kiet', N'kiet123', N'Customer', N'Active')
INSERT [dbo].[ACCOUNTS] ([ACCOUNT_ID], [USERNAME], [PASSWORD], [ROLE], [ACCOUNT_STATUS]) VALUES (N'ACC03', N'khach_trieu', N'trieu456', N'Customer', N'Active')
GO
INSERT [dbo].[CATEGORIES] ([CATEGORY_ID], [CATEGORY_NAME], [DESCRIPTION]) VALUES (N'CAT01', N'Điện tử', N'Điện thoại, Laptop và linh kiện công nghệ')
INSERT [dbo].[CATEGORIES] ([CATEGORY_ID], [CATEGORY_NAME], [DESCRIPTION]) VALUES (N'CAT02', N'Gia dụng', N'Nồi cơm, ấm nước, đồ dùng nhà bếp')
INSERT [dbo].[CATEGORIES] ([CATEGORY_ID], [CATEGORY_NAME], [DESCRIPTION]) VALUES (N'CAT03', N'Thực phẩm', N'Gạo, sữa, thực phẩm đóng gói')
GO
INSERT [dbo].[CUSTOMERS] ([CUSTOMER_ID], [CUSTOMER_NAME], [CUSTOMER_GENDER], [CUSTOMER_PHONE], [CUSTOMER_EMAIL], [ACCOUNT_ID]) VALUES (N'CUS01', N'Vương Anh Kiệt', N'Nam', N'0381112223', N'kiet@gmail.com', N'ACC02')
INSERT [dbo].[CUSTOMERS] ([CUSTOMER_ID], [CUSTOMER_NAME], [CUSTOMER_GENDER], [CUSTOMER_PHONE], [CUSTOMER_EMAIL], [ACCOUNT_ID]) VALUES (N'CUS02', N'Lê Thành Triệu', N'Nam', N'0382223334', N'trieu@gmail.com', N'ACC03')
INSERT [dbo].[CUSTOMERS] ([CUSTOMER_ID], [CUSTOMER_NAME], [CUSTOMER_GENDER], [CUSTOMER_PHONE], [CUSTOMER_EMAIL], [ACCOUNT_ID]) VALUES (N'CUS03', N'Nguyễn Đặng Minh Tuyền', N'Nữ', N'0383334445', N'tuyen@gmail.com', N'ACC04')
GO
INSERT [dbo].[INVOICES] ([INVOICE_ID], [PAYMENT_STATUS], [PAYMENT_TIME], [ORDER_ID]) VALUES (N'INV01', N'Ðã thanh toán', CAST(N'2026-03-01' AS Date), N'ORD01')
INSERT [dbo].[INVOICES] ([INVOICE_ID], [PAYMENT_STATUS], [PAYMENT_TIME], [ORDER_ID]) VALUES (N'INV02', N'Ðã thanh toán', CAST(N'2026-03-01' AS Date), N'ORD02')
INSERT [dbo].[INVOICES] ([INVOICE_ID], [PAYMENT_STATUS], [PAYMENT_TIME], [ORDER_ID]) VALUES (N'INV03', N'Ðã thanh toán', CAST(N'2026-03-02' AS Date), N'ORD03')
GO
INSERT [dbo].[ORDERDETAILS] ([ORDER_ID], [PRODUCT_ID], [ORDER_QUANTITY]) VALUES (N'ORD01', N'PRO01', 1)
INSERT [dbo].[ORDERDETAILS] ([ORDER_ID], [PRODUCT_ID], [ORDER_QUANTITY]) VALUES (N'ORD01', N'PRO10', 2)
INSERT [dbo].[ORDERDETAILS] ([ORDER_ID], [PRODUCT_ID], [ORDER_QUANTITY]) VALUES (N'ORD02', N'PRO03', 5)
GO
INSERT [dbo].[ORDERS] ([ORDER_ID], [CUSTOMER_ID], [ORDER_DATE], [ORDER_STATUS]) VALUES (N'ORD01', N'CUS01', CAST(N'2026-03-01' AS Date), N'Đã thanh toán')
INSERT [dbo].[ORDERS] ([ORDER_ID], [CUSTOMER_ID], [ORDER_DATE], [ORDER_STATUS]) VALUES (N'ORD02', N'CUS02', CAST(N'2026-03-01' AS Date), N'Đã thanh toán')
INSERT [dbo].[ORDERS] ([ORDER_ID], [CUSTOMER_ID], [ORDER_DATE], [ORDER_STATUS]) VALUES (N'ORD03', N'CUS03', CAST(N'2026-03-02' AS Date), N'Đã thanh toán')
GO
INSERT [dbo].[PRODUCTS] ([PRODUCT_ID], [PRODUCT_NAME], [UNIT_PRICE], [STOCK_QUANTITY], [PRODUCT_STATUS], [LAST_IMPORT_DATE], [CATEGORY_ID], [SUPPLIER_ID]) VALUES (N'PRO01', N'Samsung Galaxy S24 Ultra', CAST(55000000.00 AS Decimal(18, 2)), 45, N'Còn hàng', CAST(N'2026-01-15' AS Date), N'CAT01', N'SUP01')
INSERT [dbo].[PRODUCTS] ([PRODUCT_ID], [PRODUCT_NAME], [UNIT_PRICE], [STOCK_QUANTITY], [PRODUCT_STATUS], [LAST_IMPORT_DATE], [CATEGORY_ID], [SUPPLIER_ID]) VALUES (N'PRO02', N'Nồi cơm điện Sunhouse', CAST(1200000.00 AS Decimal(18, 2)), 100, N'Còn hàng', CAST(N'2026-02-10' AS Date), N'CAT02', N'SUP02')
INSERT [dbo].[PRODUCTS] ([PRODUCT_ID], [PRODUCT_NAME], [UNIT_PRICE], [STOCK_QUANTITY], [PRODUCT_STATUS], [LAST_IMPORT_DATE], [CATEGORY_ID], [SUPPLIER_ID]) VALUES (N'PRO03', N'Gạo ST25', CAST(180000.00 AS Decimal(18, 2)), 200, N'Còn hàng', CAST(N'2026-03-01' AS Date), N'CAT03', N'SUP03')
GO
INSERT [dbo].[SUPPLIERS] ([SUPPLIER_ID], [SUPPLIER_NAME], [SUPPLIER_PHONE], [SUPPLIER_ADDRESS]) VALUES (N'SUP01', N'Samsung Việt Nam', N'0901112223', N'KCN Thủ Đức, TP.HCM')
INSERT [dbo].[SUPPLIERS] ([SUPPLIER_ID], [SUPPLIER_NAME], [SUPPLIER_PHONE], [SUPPLIER_ADDRESS]) VALUES (N'SUP02', N'Gia dụng Sunhouse', N'0912223334', N'Hà Nội')
INSERT [dbo].[SUPPLIERS] ([SUPPLIER_ID], [SUPPLIER_NAME], [SUPPLIER_PHONE], [SUPPLIER_ADDRESS]) VALUES (N'SUP03', N'Thực phẩm BASUBE', N'0923334445', N'Biên Hòa, Đồng Nai')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Username]    Script Date: 03-Mar-26 22:25:56 ******/
ALTER TABLE [dbo].[ACCOUNTS] ADD  CONSTRAINT [UQ_Username] UNIQUE NONCLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Account_ID]    Script Date: 03-Mar-26 22:25:56 ******/
ALTER TABLE [dbo].[CUSTOMERS] ADD  CONSTRAINT [UQ_Account_ID] UNIQUE NONCLUSTERED 
(
	[ACCOUNT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Customer_Email]    Script Date: 03-Mar-26 22:25:56 ******/
ALTER TABLE [dbo].[CUSTOMERS] ADD  CONSTRAINT [UQ_Customer_Email] UNIQUE NONCLUSTERED 
(
	[CUSTOMER_EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Customer_Phone]    Script Date: 03-Mar-26 22:25:56 ******/
ALTER TABLE [dbo].[CUSTOMERS] ADD  CONSTRAINT [UQ_Customer_Phone] UNIQUE NONCLUSTERED 
(
	[CUSTOMER_PHONE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Invoice_Order]    Script Date: 03-Mar-26 22:25:56 ******/
ALTER TABLE [dbo].[INVOICES] ADD  CONSTRAINT [UQ_Invoice_Order] UNIQUE NONCLUSTERED 
(
	[ORDER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ORDERS] ADD  CONSTRAINT [DF_Order_Status]  DEFAULT (N'Chưa thanh toán') FOR [ORDER_STATUS]
GO
ALTER TABLE [dbo].[CUSTOMERS]  WITH CHECK ADD FOREIGN KEY([ACCOUNT_ID])
REFERENCES [dbo].[ACCOUNTS] ([ACCOUNT_ID])
GO
ALTER TABLE [dbo].[INVOICES]  WITH CHECK ADD FOREIGN KEY([ORDER_ID])
REFERENCES [dbo].[ORDERS] ([ORDER_ID])
GO
ALTER TABLE [dbo].[ORDERDETAILS]  WITH CHECK ADD FOREIGN KEY([ORDER_ID])
REFERENCES [dbo].[ORDERS] ([ORDER_ID])
GO
ALTER TABLE [dbo].[ORDERDETAILS]  WITH CHECK ADD FOREIGN KEY([PRODUCT_ID])
REFERENCES [dbo].[PRODUCTS] ([PRODUCT_ID])
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[CUSTOMERS] ([CUSTOMER_ID])
GO
ALTER TABLE [dbo].[PRODUCTS]  WITH CHECK ADD FOREIGN KEY([CATEGORY_ID])
REFERENCES [dbo].[CATEGORIES] ([CATEGORY_ID])
GO
ALTER TABLE [dbo].[PRODUCTS]  WITH CHECK ADD FOREIGN KEY([SUPPLIER_ID])
REFERENCES [dbo].[SUPPLIERS] ([SUPPLIER_ID])
GO
ALTER TABLE [dbo].[ACCOUNTS]  WITH CHECK ADD  CONSTRAINT [CHK_Account_Status] CHECK  (([ACCOUNT_STATUS]=N'Locked' OR [ACCOUNT_STATUS]=N'Active'))
GO
ALTER TABLE [dbo].[ACCOUNTS] CHECK CONSTRAINT [CHK_Account_Status]
GO
ALTER TABLE [dbo].[ACCOUNTS]  WITH CHECK ADD  CONSTRAINT [CHK_Role] CHECK  (([ROLE]=N'Customer' OR [ROLE]=N'Admin'))
GO
ALTER TABLE [dbo].[ACCOUNTS] CHECK CONSTRAINT [CHK_Role]
GO
ALTER TABLE [dbo].[ORDERDETAILS]  WITH CHECK ADD  CONSTRAINT [CHK_Order_Quantity] CHECK  (([ORDER_QUANTITY]>(0)))
GO
ALTER TABLE [dbo].[ORDERDETAILS] CHECK CONSTRAINT [CHK_Order_Quantity]
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD  CONSTRAINT [CHK_Order_Status] CHECK  (([ORDER_STATUS]=N'Hủy đơn' OR [ORDER_STATUS]=N'Đã thanh toán' OR [ORDER_STATUS]=N'Chưa thanh toán'))
GO
ALTER TABLE [dbo].[ORDERS] CHECK CONSTRAINT [CHK_Order_Status]
GO
ALTER TABLE [dbo].[PRODUCTS]  WITH CHECK ADD  CONSTRAINT [CHK_Product_Status] CHECK  (([PRODUCT_STATUS]=N'Hết hàng' OR [PRODUCT_STATUS]=N'Còn hàng'))
GO
ALTER TABLE [dbo].[PRODUCTS] CHECK CONSTRAINT [CHK_Product_Status]
GO
ALTER TABLE [dbo].[PRODUCTS]  WITH CHECK ADD  CONSTRAINT [CHK_Stock_Quantity] CHECK  (([STOCK_QUANTITY]>=(0)))
GO
ALTER TABLE [dbo].[PRODUCTS] CHECK CONSTRAINT [CHK_Stock_Quantity]
GO
ALTER TABLE [dbo].[PRODUCTS]  WITH CHECK ADD  CONSTRAINT [CHK_Unit_Price] CHECK  (([UNIT_PRICE]>(0)))
GO
ALTER TABLE [dbo].[PRODUCTS] CHECK CONSTRAINT [CHK_Unit_Price]
GO
USE [master]
GO
